.vscode
.env
.pytest_cache
.ipynb_checkpoints
hydra_script
plots
visualization
notebooks/comparison*
notebooks/PCA*
notebooks/final_results*
notebooks/hit*
notebooks/embeddings_*
notebooks/pca* 
notebooks/umap* 
notebooks/processing*
__pycache__/